body, h1, h2, h5, h6{
	font-family: 'Balsamiq Sans', cursive;
}
h1{
	font-size: 4em;
}
h2{
	font-size: 2.5em;
}
h5{
	font-size: 1.5em;
}
h6{
	font-size: 1em;
	color: #787878;
}
.navbar{
	position: fixed;
	width: 100%;
	height: 10%;
	background-color: #009BAD;
	border-bottom: 2px solid #1AA5B5;
	padding-right: 10%;
	padding-left: 10%;
	z-index: 1000;
}
.logo{
	width: 30%;
}
.logo img{
	width: 20%;
}
.nav{
	width: 70%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-top: 1%;
	padding-bottom: 1%; 
}
.nav a{
	color: #99D7DE;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.5em;
}
.nav a:hover{
	color: white;
}
.main{
	height: 100%;
	width: 100%;
	padding-right: 10%;
	padding-left: 10%;
	background-color: #009BAD;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 7%;
	padding-bottom: 4%;
}
.main-text h1{
	color: white;
	font-weight: bold;
}
.feat, .depart, .about, .team, .gallery, .contacts{
	padding: 5% 10%;
}
.feat, .depart, .team, .gallery, .contacts{
	text-align: center;
}
.feat h2, .depart h2, .team h2, .gallery h2, .contacts h2{
	font-weight: bold;
}
.f-list{
	margin-top: 4%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center; 
}
.list-item{
	width: 30%;
	padding-top: 2%;
	padding-bottom: 2%;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.list-item h5{
	font-weight: bold;
}
.about{
	background-color: #F7F9FB;
	display: flex;
	align-items: center;
}
.about-img{
	margin-left: 5%;
}
.about-text h2, .about-text h5{
	font-weight: bold;
}
.about-item{
	padding-top: 3%;
	display: flex;
}
.about-item i{
	text-align: center;
	width: 15%;
	font-size: 2.5em;
}
.depart{
	padding-bottom: 0;
}
.dep-list{
	margin-top: 5%; 
	display: flex;
	justify-content: space-between;
}
.dep-list{
	flex-wrap: wrap;
}
.dep-item img{
	width: 100%;
}
.dep-item{
	background-color: #FBF7F8;
	width: 30%;
	margin-bottom: 5%;
	border-bottom: 3px solid #009BAD;
}
.dep-item h5{
	padding-top: 5%;
	font-weight: bold;
}
.dep-item h6{
	text-align: left;
	padding-right: 5%;
	padding-left: 5%;
}
.team{
	background-color: #F7F9FB;
}
.team-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.team-item{
	margin-top: 5%; 
	width: 45%;
	display: flex;
	text-align: left;
}
.team-item img{
	width: 50%;
	margin-right: 4%;
	border: 1px solid #009BAD; 
}
#slider{
	margin-top: 5%; 
}
.contacts{
	background-color: #009BAD;
	flex-wrap: wrap;
}
.contacts h2{
	color: white;
	margin-bottom: 5%; 
}
.map{
	display: flex; 
	justify-content: space-between;
}
.cont-text{
	text-align: left;
	color: white;
	white-space: nowrap;
}
.cont-text i{
	width: 20%;
}
.links{
	display: flex;
	flex-direction: column;
	text-align: left;
}
.links a{
	text-decoration: none;
	color: white;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: bold;
	position: relative;
}
.links a:hover{
	color: black;
}
.burger{
	visibility: hidden;
}
.burger div{
	border-radius: 20px;	
 	width: 35px;
 	height: 5px;
	background-color: white;
  	margin: 6px 0;
  	z-index: 1000;
}
.burger-menu{
	position: fixed;
	z-index: 999;
	margin-top: 8%; 
	background-color: #009BAD;
	display: flex;
	flex-direction: column;
	padding-left: 10%;
	padding-right: 5%;
	padding-bottom: 5%;
	border-bottom-right-radius: 10px;
}
.burger-menu a{
	font-size: 2em;
	color: #99D7DE;
	margin-top: 10%;  
}
.hidden{
	visibility: hidden;
}
a.active{
	color: white;
}
@media (min-width: 1200px) and (max-width: 1400px){
	.feat, .depart, .about, .team, .gallery, .contacts{
		padding: 5% 5%;
	}
	.main, .navbar{
		padding-right: 5%;
		padding-left: 5%;
	}
}

@media (min-width: 992px) and (max-width: 1200px){
	.feat, .depart, .about, .team, .gallery, .contacts{
		padding: 5% 5%;
	}
	.main, .navbar{
		padding-right: 5%;
		padding-left: 5%;
	}
	.logo{
		width: 20%;
	}
	.nav{
		width: 80%;
	}
	h1{
		font-size: 3.5em;
	}
	.nav a{
		font-size: 1.3em;
	}
	.map iframe{
		width: 300px;
		height: 300px;
	}
}

@media (min-width: 768px) and (max-width: 992px){
	h1{
		font-size: 2.8em;
	}
	h2{
		font-size: 2em;
	}
	h5{
		font-size: 1.2em;
	}
	h6{
		font-size: 0.9em;
	}
	.main-img img{
		width: 100%;
	}
	.main{
		padding-top: 10%;
	}
	.feat, .depart, .about, .team, .gallery, .contacts{
		padding: 5% 5%;
	}
	.main, .navbar{
		padding-right: 5%;
		padding-left: 5%;
	}
	.logo{
		width: 20%;
	}
	.nav{
		width: 80%;
	}
	.nav a{
		font-size: 1em;
	}
	.map iframe{
		width: 200px;
		height: 200px;
	}
	.about-img{
		width: 50%;
	}
	.about-text{
		width: 50%;
	}
	.about-img img{
		width: 100%;
	}
	.team-item{
		width: 49%;
	}
	.links a{
		font-size: 1.5em; 
	}
}
@media (min-width: 576px) and (max-width: 768px){
	h1{
		font-size: 2em;
	}
	h2{
		font-size: 1.5em;
	}
	h5{
		font-size: 1em;
	}
	h6{
		font-size: 0.8em;
	}
	.main-img img{
		width: 80%;
	}
	.main{
		padding-top: 12%;
	}
	.feat, .depart, .about, .team, .gallery, .contacts{
		padding: 5% 5%;
	}
	.main, .navbar{
		padding-right: 5%;
		padding-left: 5%;
	}
	.logo{
		width: 30%;
	}
	.nav{
		visibility: hidden;
		width: 50%;
	}
	.navbar{
		height: 8%;
	}
	.burger{
		visibility: visible;
	}
	.nav a{
		font-size: 0.1em;
	}
	.map iframe{
		width: 550px;
		height: 300px;
	}
	.ifr{
		width: 100%;
		margin-top: 3%; 
	}
	.about-img{
		width: 50%;
	}
	.about-text{
		width: 50%;
	}
	.about-img img{
		width: 100%;
	}
	.team-list{
		justify-content: center;
	}
	.team-item{
		width: 70%;
	}
	.map{
		flex-wrap: wrap;
	}
	.links a{
		font-size: 1em; 
	}
	.links, .cont-text{
		width: 50%;
	}
	.cont-text i{
		width: 10%;
	}
	.about-item i{
	text-align: center;
	width: 15%;
	font-size: 1.5em;
	}
}
@media (max-width: 576px){
	p{
		margin-bottom: 0.5em;
	}
	h1{
		font-size: 1.5em;
	}
	h2{
		font-size: 1.2em;
	}
	h5{
		font-size: 0.8em;
	}
	h6{
		font-size: 0.6em;
	}
	.main-img img{
		width: 100%;
	}
	.main{
		padding-top: 20%;
	}
	.feat, .depart, .about, .team, .gallery, .contacts{
		padding: 5% 5%;
	}
	.main, .navbar{
		padding-right: 5%;
		padding-left: 5%;
	}
	.logo{
		width: 80%;
	}
	.nav{
		visibility: hidden;
		width: 1%;
		flex-direction: row;
	}
	.navbar{
		height: 10%;
	}
	.burger{
		visibility: visible;
	}
	.nav a{
		font-size: 0.1em;
	}
	.map iframe{
		width: 290px;
		height: 300px;
	}
	.ifr{
		width: 100%;
		margin-top: 3%; 
	}
	.about-img{
		width: 50%;
	}
	.about-text{
		width: 50%;
	}
	.about-img img{
		width: 100%;
	}
	.team-list{
		justify-content: center;
	}
	.team-item{
		width: 100%;
		margin-top: 10%;
	}
	.team-item:first-child{
		margin-top: 5%;
	}
	.map{
		flex-wrap: wrap;
	}
	.links a{
		font-size: 1em; 
	}
	.links, .cont-text{
		width: 50%;
	}
	.cont-text i{
		width: 10%;
	}
	.about-item i{
		text-align: center;
		width: 15%;
		font-size: 1.5em;
	}
	.f-list{
		flex-wrap: wrap;
	}
	.list-item:first-child{
		margin-top: 2%;
	}
	.list-item{
		width: 100%;
		margin-top: 10%;
	}
	.about-text{
		width: 100%;
	}
	.about-img{
		width: 1px;
		visibility: hidden;
	}
	.dep-list{
		flex-wrap: wrap;
	}
	.dep-item{
		width: 100%;
		margin-top: 10%;
	}
	.dep-item:first-child{
		margin-top: 5%;
	}
}