<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="reset.css">
	<link rel="stylesheet" href="bootstrap.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ==" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

	<link rel="stylesheet" href="style.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<title>CCH</title>
</head>
<body>
	<div class="navbar">
		<div class="logo">
			<img src="logo.png"></img>
		</div>
		<div class="nav">
			<a class="active" href="#home">Головна</a>
			<a href="#features">Особливості</a>
			<a href="#about">Про нас</a>
			<a href="#depatrments">Відділення</a>
			<a href="#team">Наша команда</a>
			<a href="#gallery">Галерея</a>
		</div>
	</div>
	<div id="home" class=" section main">
		<div class="main-text">
			<h1>Вас вітає, </br>Селидівська центральна міська лікарня</h1>
		</div>
		<div class="main-img">
			<img src="doctor.png"></img>
		</div>
	</div>
	<div id="features" class="section feat">
		<h2>Наші Особливості</h2></br>
		<h6>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</h6>
		<div class="f-list">
			<div class="list-item">
				<h5>Невідкладна допомога</h5></br>
				<h6>This is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text</h6>
			</div>
			<div class="list-item">
				<h5>Кваліфікований персонал</h5></br>
				<h6>This is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text</h6>
			</div>
			<div class="list-item">
				<h5>Цілодобовий сервіс</h5></br>
				<h6>This is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text</h6>
			</div>
		</div>
	</div>
	<div id="about" class="section about">
		<div class="about-text">
			<h2>Про нас</h2></br>
			<h2>50 років досвіду в галузі медицини</h2></br>
			<h6>This is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer. This is simply dummy text of the printing and type setting industry</h6>
			<div class="about-list">
				<div class="about-item">
					<i class="fas fa-users"></i>
					<h5>Професійний персонал</h5>
				</div>
				<div class="about-item">
					<i class="far fa-check-square"></i>
					<h5>98% показник успіху</h5>
				</div>
				<div class="about-item">
					<i class="fas fa-laptop-medical"></i>
					<h5>Сучасне обладнання</h5>
				</div>
			</div>
		</div>
		<div class="about-img">
			<img src="about-doc.jpg"></img>
		</div>
	</div>
	<div id="depatrments" class="section depart">
		<h2>Відділення</h2></br>
		<h6>Сучасні, світлі і комфортні відділення, де приємно знаходиться, а тим більше тривалий час отримувати лікування</h6>
		<div class="dep-list">
			<div class="dep-item">
				<img src="dept-01.jpg"></>
				<h5>Кардіологія</h5>
				<h6>У відділенні надають сучасну і ефективну медичну допомогу пацієнтам з захворюваннями:</br></br>
				&bull; Ішемічна хвороба серця</br>
				&bull; Атеросклероз</br>
				&bull; Хронічна серцева недостатність</br>
				&bull; Миготлива аритмія</br> 
				&bull; Клапанні пороки</br></br>
				У відділенні проводиться комплексне обстеження і консервативне лікування за екстреними свідченнями і в плановому порядку.</h6>
			</div>
			<div class="dep-item">
				<img src="dept-02.jpg">
				<h5>Неврологія</h5>
				<h6>У відділенні надають сучасну і ефективну медичну допомогу пацієнтам з захворюваннями:</br></br> 
				&bull; Наслідки черепно-мозкових травм та нейроінфекцій</br> 
				&bull; Гострі та хронічні больові синдромі різної етіології</br> 
				&bull; Запальні процеси нервової системи</br>       
				&bull; Захворювання вегетативної нервової системи</br> 
				&bull; Міастенія</br> 
				&bull; Спадкові захворювання нервової системи</br> 
				&bull; Епілепсія та пароксизмальні стани</h6>
			</div>
			<div class="dep-item">
				<img src="dept-03.jpg">
				<h5>Ортопедія</h5>
				<h6>У відділенні надають сучасну і ефективну медичну допомогу пацієнтам з захворюваннями:</br></br>
				&bull; Артрози суглобів (коксартроз, гонартроз, артроз плечового і гомілковостопного суглобів та інші)</br>
				&bull; Деформація стоп</br>
				&bull; Травми і захворювання плечового суглоба, колінного суглоба, гомілковостопного суглоба, ліктьового суглоба</br>
				&bull; Наслідки травм і посттравматичні деформації</br>
				&bull; Асептичний некроз кісток</br>
				&bull; Захворювання хребта (остеохондроз, міжхребцеві грижі, сколіоз та інші)
				</h6>
			</div>
			<div class="dep-item">
				<img src="dept-04.jpg">
				<h5>Хірургія</h5>
				<h6>У відділенні надають сучасну і ефективну медичну допомогу пацієнтам з захворюваннями:</br></br>
				&bull; Шкіри, підшкірної клітковини (абсцеси, флегмони, фурункули, карбункули і так далі)</br>
				&bull; Гнійні бурсити та артрити</br>
				&bull; Остеомієліти</br>
				&bull; Глибокі інфіковані опіки і відмороження</br>
				&bull; Гнійні захворювання кисті</br>
				&bull; Атеросклеротичні ураження нижніх кінцівок</br>
				&bull; Лікування діабетичної стопи</br></br>
				У відділенні виконуються всі види операцій за екстреними свідченнями, в плановому порядку, проводиться комплексне обстеження і консервативне лікування.</h6>
			</div>
			<div class="dep-item">
				<img src="dept-05.jpg">
				<h5>Урологія</h5>
				<h6>У відділенні надають сучасну і ефективну медичну допомогу пацієнтам з захворюваннями:</br></br>
				&bull; Мочекам'яна хвороба</br>
				&bull; Аденома передміхурової залози</br>
				&bull; Поразки сечівника, сечового міхура і сечоводу</br>
				&bull; Онкоурологія</br>
				&bull; Звуженнях сечоводу і сечовипускального каналу</br>
				&bull; Опущенні нирки</br>
				&bull; Дивертикули сечового міхура і сечовипускального каналу</br>
				&bull; Лікування захворювань чоловічої статевої сфери</br>
				&bull; Варикоцеле</br>
				&bull; Кісти нирок</h6>
			</div>
			<div class="dep-item">
				<img src="dept-06.jpg">
				<h5>Стоматологія</h5>
				<h6>Звернувшись до нас, ви можете не сумніватися в отриманні якісної професійної допомоги та об'єктивної інформації:</br></br>
				&bull; Про стан ротової порожнини з підбором унікального плану лікування, який підійде саме Вам</br>
				&bull; Про вартість і терміни лікування. Вартість послуг буде доступна абсолютно кожному пацієнтові</br></br>
				Лікування проходить безболісно і комфортно для пацієнта.</h6>
			</div>
		</div>
	</div>
	<div id="team" class="section team">
		<h2>Наші досвідчені лікарі</h2></br>
		<h6>Високоточне обладнання та кваліфікований персонал</h6>
		<div class="team-list">
			<div class="team-item">
				<img src="doc-1.jpg"></img>
				<div>
					<h5>Носков Андрій Ярославович</h5>
					<h6>Кардіолог та хірург</h6></br>
					<h6>Заступник головного лікаря з медичних питань. У 1988р. закінчив Київський медичний інститут. Фахівець вищої категорії</h6>
				</div>
			</div>
			<div class="team-item">
				<img src="doc-2.jpg"></img>
				<div>
					<h5>Філатова Валерія Дмитрівна</h5>
					<h6>Гінеколог та хірург</h6></br>
					<h6>Лікар-гінеколог. У 1995р. закінчила Національний медичний інститут. Фахівець вищої категорії</h6>
				</div>
			</div>
			<div class="team-item">
				<img src="doc-3.jpg"></img>
				<div>
					<h5>Савельєв Тимур Олексійович</h5>
					<h6>Стоматолог</h6></br>
					<h6>Лікар-стоматолог. У 1997р. закінчив Національний медичний інститут. Фахівець вищої категорії</h6>
				</div>
			</div>
			<div class="team-item">
				<img src="doc-4.jpg"></img>
				<div>
					<h5>Колесов Микола Олександрович</h5>
					<h6>Невролог та хірург</h6></br>
					<h6>Завідуючий операційним відділенням. У 1992р. закінчив Київський медичний інститут. Фахівець вищої категорії</h6>
				</div>
			</div>
		</div>
	</div>
	<div id="gallery" class="section gallery">
		<h2>Галерея</h2></br>
		<h6>Сучасне обладнання та комфортабельні відділення</h6>
		<div class="owl-carousel owl-theme" id="slider">
			<img src="01.jpg"></img>
			<img src="02.jpg"></img>
			<img src="03.jpg"></img>
			<img src="04.jpg"></img>
			<img src="05.jpg"></img>
			<img src="06.jpg"></img>
			<img src="07.jpg"></img>
		</div>
	</div>
	<div class="contacts">
		<h2>Наші контакти</h2>
		<div class="map">
			<div class="links">
				<a href="#home">Головна</a>
				<a href="#features">Особливості</a>
				<a href="#about">Про нас</a>
				<a href="#depatrments">Відділення</a>
				<a href="#team">Наша команда</a>
				<a href="#gallery">Галерея</a>
			</div>
			<div class="cont-text">
				<h5><i class="fas fa-map-marker-alt"></i>Вул. Шевченка, 1</h5>
				<h5><i class="fas fa-phone"></i>(06237)72695</h5>
				<h5><i class="fas fa-envelope"></i>selidovo.cch@gov.ua</h5>
			</div>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2662.7047744660813!2d37.304506315613715!3d48.13521647922327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40de235e4cb04331%3A0xc3c18d3303e399f4!2z0KbQk9CR!5e0!3m2!1sru!2sua!4v1626769343264!5m2!1sru!2sua" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
		</div>
	</div>
</body>
<script>
 $(document).ready(function(){
    $(".nav").on("click","a", function (event) {
        event.preventDefault();
        var id  = $(this).attr('href'),
            top = $(id).offset().top;
        $('body,html').animate({scrollTop: top}, 500);
    });
});
</script>
<script>
 $(document).ready(function(){
    $(".links").on("click","a", function (event) {
        event.preventDefault();
        var id  = $(this).attr('href'),
            top = $(id).offset().top;
        $('body,html').animate({scrollTop: top}, 500);
    });
});
</script>
<script>
	jQuery(function($) {

    const section = $('.section'),
          nav = $('.nav'),
          navHeight = nav.outerHeight(); 
    window.addEventListener('orientationchange', function () {
        navHeight = nav.outerHeight();
    }, false);

    $(window).on('scroll', function () {
        const position = $(this).scrollTop();

        section.each(function () {
            const top = $(this).offset().top - navHeight - 5,
                  bottom = top + $(this).outerHeight();

            if (position >= top && position <= bottom) {
                nav.find('a').removeClass('active');
                section.removeClass('active');

                $(this).addClass('active');
                nav.find('a[href="#' + $(this).attr('id') + '"]').addClass('active');
            }
        });
    });

    nav.find('a').on('click', function () {
        const id = $(this).attr('href');

        $('html, body').animate({
            scrollTop: $(id).offset().top - navHeight
        }, 487);

        return false;
    });

});
</script>
<script>
	$(document).ready(function(){
    const slider = $("#slider").owlCarousel({
        center: true,
        items: 3,
        loop: true,
        margin: 10
    });
});
</script>
</html>